[submodule "git-deploy-example"]
	path = git-deploy-example
	url = https://github.com/blairj09/git-deploy-example.git
[submodule "plumbpkg"]
	path = plumbpkg
	url = https://github.com/sol-eng/plumbpkg.git
